<div class="wrapper">
    <h2>Test International Airport</h2>
    <p class="codes">GEG-KGEG</p>
    <p class="location">Pullman, USA</p>

    <p class="stat-label">Outgoing connections</p>
    <p class="stat">321 <span class="rank">#615 worldwide</span></p>

    <p class="stat-label">Incoming Connections</p>
    <p class="stat">102 <span class="rank">#12863 worldwide</span></p>

    <p class="stat-label">Timezone</p>
    <span class="rank">Pacific Standard Time</span>
</div>