<div id="container">
    <div id="source" class="@(Source == "" ? "filler endpoint" : "endpoint")">
        @(Source == "" ? "SRC" : Source)
    </div>
    <span>▶</span>
    <div id="dest" class="@(Destination == "" ? "filler endpoint" : "endpoint" )">
        @(Destination == "" ? "DST" : Destination)
    </div>
    @if (Source != "" && Destination != "") {
        @if (Working) {
            <span class="rotator">↻</span>
        } else {
            <button @onclick="GetShortestPath">Route</button>
        }
    }
</div>