#container {
    position: fixed;
    top: 85px;
    left: 650px;
    height: 50px;
    width: 500px;
    background: transparent;
    display: flex;
    align-content: center;
}

    #container>span {
        color: #090C9B;
        font-size: 25px;
        margin-right: 20px;
    }

    #container > button {
        border: none;
        outline: none;
        height: 40px;
        width: 100px;
        font: bold 20px 'Josefin Sans', sans-serif;
        color: white;
        background: #090C9B;
        border-radius: 10px;
        transition: background 0.2s ease;
    }

        #container > button:hover {
            background: #0B0EC1;
        }

    #container > .rotator {
        animation: rotate 1s linear;
        animation-iteration-count: infinite;
        color: #FCF7FF;
        background: #090C9B;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        text-align: center;
        padding: 1.5px;
    }

.endpoint {
    display: block;
    height: 40px;
    border-radius: 10px;
    width: 100px;
    background: #FCF7FF;
    font: 20px 'Josefin Sans', sans-serif;
    padding: 12px;
    margin-right: 20px;
    color: #3C3744;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

    .endpoint.filler {
        color: #B4C5E4;
    }

@keyframes rotate{
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
