<div id="container">
    <div id="source" class="@(Source == "" ? "filler endpoint" : "endpoint")">
        @(Source == "" ? "Source" : Source)
    </div>
    <span>▶</span>
    <div id="dest" class="@(Destination == "" ? "filler endpoint" : "endpoint" )">
        @(Destination == "" ? "Destination" : Destination)
    </div>
</div>