@page "/"

<PageTitle>Airacle</PageTitle>

<AirplaneIcon></AirplaneIcon>

<h1>Airacle</h1>

<div class="content-container">
    <div class="info-window input-div">
        <input placeholder="Search Your City..." class="main-input"/>
        <input placeholder="Your Country..." class="main-input"/>
        <input placeholder="IATA/IACO Code..." class="main-input"/>
        <input placeholder="Or Airport Name" class="main-input"/>
    </div>

    <div class="info-window input-div">
        <AirportEntry ID="test1"/>
        <AirportEntry ID="test2"/>
        <AirportEntry ID="test3"/>
        <AirportEntry ID="test4"/>
        <AirportEntry ID="test5"/>
    </div>

    <div class="info-window">
        <AirportStats/>
    </div>
</div>