@page "/"

<PageTitle>Airacle</PageTitle>

<AirplaneIcon></AirplaneIcon>

<h1>Airacle</h1>

<div class="content-container">
    <div class="info-window input-div">
        <input placeholder="Search Your City..." class="main-input" @bind="City"/>
        <input placeholder="Your Country..." class="main-input" @bind="Country"/>
        <input placeholder="IATA/IACO Code..." class="main-input" @bind="Code"/>
        <input placeholder="Or Airport Name" class="main-input" @bind="Name"/>
    </div>

    <div class="info-window input-div">
        @foreach(Airport airport in AirportsToDisplay)
        {
            <AirportEntry Source=airport/>
        }
    </div>

    <div class="info-window">
        @if (DisplayedAirport != null) 
        {
            <AirportStats Source="DisplayedAirport"/>
        }
    </div>
</div>